@charset "UTF-8";
*{
    font-family: Arial, Helvetica, sans-serit;
}
body{
    margin: 0;
}
h1,h2{
     margin: 0;
     font-size: 3w;
     padding: 0.5w 0 0 1.5w
}
header{
    margin: 0;
    width: 100%;
    background-color: aqua;
    height: 6vw;
}
.profile_list{
    color:azure;
}
footer{
    background-color: black;
}
.pic{
    height:15vw;
    margin:5vw;
}
.f-container{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-around;
}

